files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/121_db_seed.sh":
    mode: "000775"
    owner: root
    group: users
    content: |
      #!/usr/bin/env bash
      app="$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)";

      # run seed
      cd "${app}";
      rake db:seed;